---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Listing from '../components/Listing.jsx';
import { asciiSort, generateRoutename } from '../helpers';

const startups = await Astro.glob('../../data/*.mdx');
startups.sort((s1, s2) => asciiSort(s1.url, s2.url)); // sorting by file url

const frontmatter = startups.map((post) => ({
  ...post.frontmatter,
  url: generateRoutename(post.url),
}));
---

<Layout title='StartupsofKerala | Home'>
  <!-- hero section  -->
  <header
    class='p-8 py-10'
    style='background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);'
  >
    <!-- navbar  -->
    <Navbar theme='light' />
    <h2
      class='font-black text-4xl xl:text-5xl text-white w-3/4 text-left md:text-center py-16 md:py-24 md:mx-auto leading-[100%]'
    >
      Crowdsourced list of <br /> all startups residing in Kerala
    </h2>
  </header>
  <!-- end hero section  -->

  <!-- main section  -->
  <main class='py-16'>
    <Listing data={frontmatter} client:load />
  </main>
  <!-- end main section  -->
</Layout>
