<footer class='bg-black text-white h-full mt-32'>
  <div
    class='container mx-auto p-8 py-16 xl:py-32 flex flex-col-reverse xl:flex-row gap-16 justify-between items-center'
  >
    <div>
      <h3 class='font-bold text-2xl'>StartupsofKerala.in</h3>
      <span class='font-base text-sm text-white/75'
        >Created by <a
          href='https://lemokami.dev'
          class='underline underline-offset-2 hover:text-white'>lemokami</a
        > & <br />
        a group of awesome
        <a
          href='/contributors'
          class='underline underline-offset-2 hover:text-white'>contributors</a
        >
      </span>
    </div>

    <div class='flex justify-between w-full xl:w-auto gap-16 px-8'>
      <div class='flex flex-col gap-5'>
        <a
          class='footer-link'
          href='https://github.com/lemokami/startupsofkerala/#readme'>About</a
        >
        <a class='footer-link' href='mailto:jesswinw@gmail.com'>Contact</a>
        <a
          class='footer-link'
          href='https://github.com/lemokami/startupsofkerala'>Contribute</a
        >
      </div>
      <div class='flex flex-col gap-5'>
        <a class='footer-link' href='/contributors'>Contributors</a>
        <a
          class='footer-link'
          href='https://github.com/lemokami/startupsofkerala'>Repository</a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  .footer-link {
    @apply text-white/75 hover:text-white hover:underline hover:underline-offset-2;
  }
</style>
